<div class="row">
  <div class="col-md-8 col-md-offset-2 mx-auto">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="media p-3">
              <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe"
                class="align-self-start mr-3 rounded-circle" style="width:60px;">
              <div class="media-body border p-4 rounded">
                <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                <p>Lorem ipsum...</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer">This is the panel footer</div>
    </div>
  </div>
</div>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
