@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.col-md-4 {
  height: 500px;
}

.card-header {
  padding: 0;
  background-image: url('https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  height: 150px;
}

#header_img {
  margin: 20px 0 0 20px;
}

h5 {
  margin: 15px 0 0 20px;
  font-weight: 100;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

h4.name {
  color: #2962FF;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  font-size: 12px;
}

h4.app {
  font-weight: 200;
  text-align: center;
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 18px;
  color: black;
}

p.parah {
  font-weight: 100;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #9E9E9E;
}

@media only screen and (max-width: 599px) {

  .card-header {
    text-align: center;
  }

  #contact_submit_form,
  #contact_list {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {

  .card-header {
    text-align: center;
  }

  #contact_submit_form,
  #contact_list {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  #contact_submit_form {
    padding: 0;
  }

  #contact_list {
    padding: 0;
  }

  #left_card_body {
    padding: 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  #contact_submit_form {
    padding: 0;
  }

  #contact_list {
    padding: 0;
  }

  #left_card_body {
    padding: 5px;
  }
}
