<div class="row" style="margin: 0; padding: 0; margin-top:30px;">
  <div class="col-md-2">
    <div class="card">
      <div class="card-header">
        <img
          src="https://images.pexels.com/photos/2128819/pexels-photo-2128819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="Header Image" width="70px" height="70px" class="img-responsive rounded-circle" style="z-index: 1000;"
          id="header_img">
        <h5>Admin</h5>
      </div>
      <div class="card-body">
        <h4 class="name text-center">Henry Williams</h4>
        <h4 class="app text-center">Creator of Rumble</h4>
        <p class="parah text-center">Rumble was created with the sole purpose of providing a platform for people to
          share their content through blog posts. If there are any further queries then feel free to send me a message.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-contact-form></app-contact-form>
  </div>
  <div class="col-md-4">
    <app-contact-list></app-contact-list>
  </div>
</div>
