#description_para {
  margin-top: 30%;
  text-align: center;
  padding: 5px;
  font-weight: 100;
}

#tile_header {
  text-align: center;
  margin: auto;
}

p {
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

#viewButton {
  float: right;
  width: 10px;
  height: 10px;
}

#deleteButton {
  width: 10px;
  height: 10px;
  background-color: darkred;
  margin-left: 5px;
}

mat-grid-list {
  margin-top: 20px;
}

#emptyCard {
  background-color: #0288D1;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {

  #description_para {
    font-weight: 100;
    font-size: 12px;
  }
}
