<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile *ngFor="let favorite of favorites" [style.background]="'#26A69A'" [rowspan]="'3'">
    <mat-grid-tile-header>
      {{favorite.title}}
      <span class="spacer"></span>
      <button mat-mini-fab id="viewButton" [routerLink]="['/view/',favorite.postId]"
        matTooltip="View the post."></button>
      <button mat-mini-fab id="deleteButton" matTooltip="Remove the favorites."
        (click)="removeFavorite(favorite.postId)"></button>

    </mat-grid-tile-header>
    <p id="description_para">
      {{favorite.description | subStr:200}}
    </p>
  </mat-grid-tile>
</mat-grid-list>
