<div class="row" style="padding: 0; margin: 0;">
  <div class="col-md-4">
    <mat-drawer-container class="example-container">
      <div class="row" id="side_header_row">
        <div class="col-md-12" id="side_nav_column">
          <div class="row" style="margin: 0; padding:0; margin-top: 20px;">
            <div class="col-md-12">
              <img
                src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="Profile" class="rounded-circle img-responsive" width="70px" height="70px">
            </div>
          </div>

          <div class="row" style="padding:0; margin: 0; margin-top:20px">
            <div class="col-md-12">
              <h5 id="username">{{username}}</h5>
              <h6 id="userEmail">{{email}}</h6>
            </div>
          </div>
        </div>
      </div>

      <mat-list role="list">
        <mat-list-item role="listitem"><a><i class="fa fa-user"></i> &nbsp; Profile</a></mat-list-item>
        <mat-list-item role="listitem"><a><i class="fa fa-edit"></i> &nbsp; Account</a></mat-list-item>
        <mat-list-item role="listitem"><a><i class="fa fa-paper-plane"></i> &nbsp; My Posts</a></mat-list-item>
      </mat-list>

    </mat-drawer-container>
  </div>
  <div class="col-md-8">
    This is the sub component loaded as per the sidenav
  </div>
</div>
