<mat-drawer-container class="example-container">
  <div class="row" id="side_header_row">
    <div class="col-md-12" id="side_nav_column">
      <div class="row" style="margin: 0; padding:0; margin-top: 20px;">
        <div class="col-md-12">
          <img
            src="https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="Profile" class="rounded-circle img-responsive" width="70px" height="70px">
        </div>
      </div>
    </div>
  </div>
</mat-drawer-container>
