.example-container {
  width: 250px;
  height: 520px;
  margin: 10px;
  background-color: whitesmoke;
}

#side_header_row {
  padding: 0;
  margin: 0;
}

#side_nav_column {
  background-image: url('https://images.pexels.com/photos/2096622/pexels-photo-2096622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}


#username,
#userEmail {
  color: white;
  font-weight: 100;
}

#username {
  font-size: 16px;
}

#userEmail {
  font-size: 14px;
}

mat-list {
  background-color: white;
}

mat-list-item {
  border: 1px solid whitesmoke;
}
