.example-container {
  width: 250px;
  margin: 10px;
  background-color: whitesmoke;
}

#side_header_row {
  padding: 0;
  margin: 0;
}

#side_nav_column {
  background-image: url('https://images.pexels.com/photos/2096622/pexels-photo-2096622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}


#username,
#userEmail {
  color: white;
  font-weight: 100;
}

#username {
  font-size: 16px;
}

#userEmail {
  font-size: 14px;
}

mat-list {
  background-color: white;
}

mat-list-item {
  border: 1px solid whitesmoke;
}

a {
  text-decoration: none;
  color: black;
}

#profile_component_router_outlet {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

  mat-drawer-container {
    width: 100%;
  }

  .example-container {
    width: 90%;
  }

  #profile_component_router_outlet {
    margin-bottom: 60px;
  }

  #side_nav_column_main {
    margin: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {

  #side_nav_column_main {
    margin: auto;
    padding: 0 25%;
  }

  .example-container {
    margin: auto;
  }

  #profile_component_router_outlet {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  mat-drawer-container {
    width: 100%;
  }

  .example-container {
    margin: auto;
  }
}
