<mat-toolbar color="primary">
  <span id="header">
    <a routerLink="/">Home</a>
  </span>

  <span class="spacer"></span>

  <ul class="nav navbar-nav" id="navigation">
    <li><a mat-button routerLinkActive="mat-accent active" routerLink="/create" [ngClass]="{view: !loggedIn}">New
        Post</a></li>
    <li><a mat-button routerLinkActive="mat-accent active" routerLink="/login" [ngClass]="{view: loggedIn}">Login</a>
    </li>
    <li><a mat-button routerLinkActive="mat-accent active" routerLink="/register"
        [ngClass]="{view: loggedIn}">Register</a></li>
    <li><button mat-button [ngClass]="{view: !loggedIn}">Logout</button></li>
  </ul>
</mat-toolbar>
