#image_header img {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  padding: 0;
  margin: 0;
}

mat-spinner {
  margin: auto;
}

#header_row {
  margin: 0;
  padding: 0;
}

#content_row {
  margin-top: 70px;
}

#post_content {
  text-align: center;
}

#header_title {
  margin-top: 20%;
}

#content {
  text-align: center;
}
