#image_header img {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  padding: 0;
  margin: 0;
}

mat-spinner {
  margin: auto;
}

#header_row {
  margin: 0;
  padding: 0;
}

#content_row {
  margin-top: 70px;
}

#post_content {
  text-align: center;
}

#header_title {
  margin-top: 30%;
}

#content {
  text-align: center;
}

#favorite {
  color: #B00020;
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
}

#notFavorite {
  color: darkgray;
  cursor: pointer;
  font-size: 25px;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {

  #header_image img {
    height: 70vh;
  }

  mat-card {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {

  #header_image img {
    height: 70vh;
  }

  mat-card {
    width: 100vw;
    margin: 0 auto;
  }

  #content_column {
    padding: 0;
    margin: 0;
  }
}
