<div class="row" id="menu_row">
  <div class="col-md-12" id="menu_column">
    <ul class="nav nav-tabs nav-justified">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="['','profile']">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="['','contact']">Contact</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
