<div class="row" id="post_create_component_row">
  <div class="col-md-12">
    <mat-card class="border border-info">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <label for="title">Title</label>
          <input matInput type="text" name="title" formControlName="title" value="{{titleData}}">
        </mat-form-field>
        <mat-error *ngIf="!form.get('title').valid && form.get('title').touched">
          Update the title.
        </mat-error>
        <div>
          <button mat-stroked-button type="button" (click)="fileUploader.click()">Upload File</button>
          <input type="file" (change)="onUpload($event)" #fileUploader>
        </div>
        <div id="imagePreview" *ngIf="imagePreview !== ' ' && imagePreview !== null && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field class="example-full-width">
          <label for="content">Content</label>
          <input matInput type="text" name="content" formControlName="content" value="{{contentData}}">
        </mat-form-field>
        <mat-error *ngIf="!form.get('content').valid && form.get('content').touched">Update the content</mat-error>
        <br><br>
        <button mat-raised-button color="primary" type="submit">Edit</button>
      </form>
    </mat-card>
  </div>
</div>
