<div class="row" style="margin: 0;padding:0;">
  <div class="col-md-8 col-md-offset-2 mx-auto">
    <div class="card">
      <div class="card-header">
        <button mat-mini-fab id="navigation_btn" (click)="navigate()"></button>
      </div>
      <div class="card-body">
        <mat-card>
          <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="example-full-width">
              <label for="content">Content</label>
              <ejs-richtexteditor matInput id='defaultRTE' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools'
                value="{{contentData}}" name="content" ngModel #Content="ngModel"></ejs-richtexteditor>
            </div>
            <br>
            <div class="submit_btn">
              <button type="submit" mat-button color="accent">Submit</button>
            </div>
          </form>
        </mat-card>
      </div>
      <div class="card-footer">

      </div>
    </div>
  </div>
</div>

<br><br><br><br><br>
<br><br><br><br><br>
