<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-xs-12 col-sm-12">
      <mat-card>
        <app-date-time></app-date-time>
      </mat-card>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
      <mat-card style="color: white;">
        <h3 style="text-align: center; color: white;">Updates</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam mauris id rhoncus bibendum. Nulla sem
          erat, luctus vel metus vulputate, tristique blandit tellus. Donec et malesuada mauris. Vivamus arcu ex,
          tincidunt in lectus in, pretium lacinia lacus. Proin commodo venenatis volutpat.
        </p>
        <hr width="30%" style="background-color: whitesmoke;">
        <h4 style="text-align: center; color: white;">Features</h4>
        <ul id="features_list">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          <li>Ut elementum ex a nunc fringilla, ac gravida mauris luctus.</li>
          <li>Proin semper urna non odio lacinia, id ornare ipsum pharetra.</li>
        </ul>
      </mat-card>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-12">
      <mat-card>
        <app-location></app-location>
      </mat-card>
    </div>
  </div>
</div>
