<div class="row" id="post_create_component_row">
  <div class="col-md-12">
    <mat-card class="border border-info">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <label for="title">Title</label>
          <input matInput type="text" [formControlName]="'title'">
        </mat-form-field>
        <mat-error *ngIf="!form.get('title').valid && form.get('title').touched">
          Title is not valid. Enter a valid title.
        </mat-error>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Image</button>
          <input type="file" #filePicker (change)="uploadImage($event)">
        </div>
        <div id="imagePreview" *ngIf="previewImage !== ' ' && previewImage !== null">
          <img [src]="previewImage" [alt]="form.value.title">
        </div>
        <mat-form-field class="example-full-width">
          <label for="content">Content</label>
          <input matInput type="text" [formControlName]="'content'">
        </mat-form-field>

        <br><br>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Post</button>
      </form>
    </mat-card>
  </div>
</div>
