.example-full-width {
  width: 100%;
}

.mat-card {
  text-align: center;
}

#post_create_component_row,
mat-card {
  margin: 1rem auto;
}

input[type="file"] {
  visibility: hidden;
}

#imagePreview {
  height: 5rem;

}

#imagePreview img {
  max-height: 100%;
}

@media only screen and (max-width: 599px) {

  .col-md-12 {
    padding: 0;
  }

  mat-card {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width:600px) and (max-width: 767px) {

  .col-md-12 {
    padding: 0;
  }

  mat-card {
    width: 80%;
    margin: 0 auto;
  }

  #upload_image_button {
    margin: 0 auto;
    padding: 0 25%;
  }
}

@media only screen and (min-width:768px) and (max-width: 991px) {

  .col-md-12 {
    padding: 0;
  }

  mat-card {
    width: 80%;
    margin: 0 auto;
  }

  #upload_image_button {
    margin: 0 auto;
    padding: 0 25%;
  }

}

@media only screen and (min-width:992px) and (max-width: 1199px) {

  .col-md-12 {
    padding: 0;
  }

  mat-card {
    width: 80%;
    margin: 0 auto;
  }

  #upload_image_button {
    margin: 0 auto;
    padding: 0 25%;
  }

}

@media only screen and (min-width: 1200px) {

  .col-md-12 {
    padding: 0;
  }

  mat-card {
    width: 80%;
    margin: 0 auto;
  }

  #upload_image_button {
    margin: 0 auto;
    padding: 0 40%;
  }

}
