<div class="row" id="post_create_component_row">
  <div class="col-md-12">
    <mat-card class="border border-info">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <mat-form-field class="example-full-width">
          <label for="username">Title</label>
          <input matInput type="text" id="title" ngModel name="title" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <div class="form-group">
            <input matInput type="email" id="content" ngModel name="content" required>
          </div>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Post</button>
        <br>
      </form>
    </mat-card>
  </div>
</div>
