.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-card {
  width: 50%;
  text-align: center;
}

#post_create_component_row {
  margin-top: 1rem;
}
