.card-header {
  background-color: #0097A7;
}

#user_profile_header {
  text-align: center;
  font-weight: 100;
}

.card {
  margin: auto;
  height: 70vh;
}

.card-body {
  padding: 0;
  border-bottom: 1px solid #00838F;
  border-right: 1px solid #00838F;
}

#main_column {
  padding: 0;
  height: inherit;
}

#side_nav {
  padding: 30px 10px;
  background-color: #00838F;
  height: 100%;
  z-index: 1000;
  margin-bottom: 0;
}

#components_column {
  height: 100%;
  overflow: scroll;
}

#components_column::-webkit-scrollbar {
  width: 0 !important;
}

mat-card {
  background-color: #006064;
  text-align: center;
}

#side_nav_header {
  font-size: 14px;
  color: white;
}

#side_nav_list_group {
  background-color: transparent;
}

.list-group-item {
  background-color: transparent;
  margin-top: 25%;
  border: none;
  z-index: 50;
}

.fa-heart {
  color: white;
}

li button[type="button"] {
  width: 10px;
  height: 10px;
}

#user-account-card-body::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {

  #main_column {
    width: 100%;
    margin: auto;
  }

  #side_nav {
    max-height: 30vh;
  }

  mat-card {
    max-height: 20vh;
  }

  #side_nav_list_group {
    display: inline;
  }

  ul {
    display: inline;
  }

  ul li {
    margin: 5vw;
    padding: 0;
    display: inline-block;
  }

  #components_column {
    padding: 0;
  }

  .col-xs-12 {
    padding: 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  #main_column {
    width: 100%;
    margin: auto;
  }

  #side_nav {
    max-height: 40vh;
  }

  mat-card {
    max-height: 20vh;
  }

  #side_nav_list_group {
    display: inline;
  }

  ul {
    display: inline;
  }

  ul li {
    margin: 1vw 5vw 0 5vw;
    padding: 0;
    display: inline-block;
  }

  #components_column {
    padding: 0;
  }

  .col-xs-12 {
    padding: 0;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {

  #main_user_account_column {
    padding: 0;
  }

  mat-card {
    height: 50vh;
    padding: 5px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
  }

  li.list-group-item {
    padding: 8px;
  }

  h5#side_nav_header {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  #main_user_account_column {
    padding: 0;
  }

  mat-card {
    height: 50vh;
    padding: 5px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
  }

  li.list-group-item {
    padding: 8px;
  }

  h5#side_nav_header {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1200px) {

  #main_user_account_column {
    padding: 0;
  }

  mat-card {
    height: 50vh;
    padding: 5px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
  }

  li.list-group-item {
    padding: 6px;
  }

  h5#side_nav_header {
    margin-top: 40px;
  }
}
