.card-header {
  background-color: #0097A7;
}

#user_profile_header {
  text-align: center;
  font-weight: 100;
}

.card {
  margin: auto;
  height: 70vh;
}

.card-body {
  padding: 0;
  border-bottom: 1px solid #00838F;
  border-right: 1px solid #00838F;
}

#main_column {
  padding: 0;
  height: inherit;
}

#side_nav {
  padding: 30px 10px;
  background-color: #00838F;
  height: 100%;
  z-index: 1000;
  margin-bottom: 0;
}

#components_column {
  height: 100%;
  overflow: scroll;
}

#components_column::-webkit-scrollbar {
  width: 0 !important;
}

mat-card {
  background-color: #006064;
  text-align: center;
}

#side_nav_header {
  font-size: 14px;
  color: white;
}

#side_nav_list_group {
  background-color: transparent;
}

.list-group-item {
  background-color: transparent;
  margin-top: 25%;
  border: none;
  z-index: 50;
}

.fa-heart {
  color: white;
}

li button[type="button"] {
  width: 10px;
  height: 10px;
}

#user-account-card-body::-webkit-scrollbar {
  display: none;
}
