<div class="row" style="margin: 0; padding: 0;margin-top: 10px;">
  <div class="col-md-12 col-sm-12 col-xs-12" id="main_user_account_column">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body" id="user-account-card-body" style="overflow:scroll;">
        <div class="row" style="margin: 0; padding: 0;height: 100%;">
          <div class="col-md-12 col-xs-12" id="main_column">
            <div class="row" style="margin: 0; padding: 0;height: 100%;">
              <div class="col-md-2 col-xs-12" id="side_nav">
                <mat-card>
                  <h5 id="side_nav_header">Account</h5>

                  <ul class="list-group" id="side_nav_list_group">
                    <li class="list-group-item"><button type="button" mat-mini-fab style="background-color: #B00020;"
                        matTooltip="Favorite Posts" [routerLink]="['.']"></button></li>
                    <li class="list-group-item"><button type="button" mat-mini-fab style="background-color: #01579B;"
                        matTooltip="My notes" [routerLink]="['idea']"></button></li>
                    <li class="list-group-item"><button type="button" mat-mini-fab
                        matTooltip="Change username/email/password" [routerLink]="['change']"></button></li>
                    <li class="list-group-item"><button type="button" mat-mini-fab style="background-color: #E57373;"
                        matTooltip="Delete Account" [routerLink]="['delete']"></button></li>
                  </ul>
                </mat-card>
              </div>
              <div class="col-md-10" id="components_column">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
