#navigation {
  margin-right: 10px;
}

#navigation li a {
  color: white;
  text-decoration: none;

}

#header a {
  color: white;
  text-decoration: none;
}

ul {
  display: inline;
}

ul li {
  float: left;
}

.spacer {
  flex: 1 1 auto;
}

.view {
  display: none;
}

@media only screen and (max-width: 600px) {

  ul li {
    margin: 0;
    padding: 0;
  }

  a {
    padding: 0;
  }

  button {
    padding: 0;
  }
}
