@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.card-header {
  background-color: #0097A7;
}

#user_profile_header {
  text-align: center;
  font-weight: 100;
}

.card-title {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
}

#navigate_button {
  width: 15px;
  height: 15px;
}

#card_body {
  background-color: #006064;
}

mat-spinner {
  margin: auto;
}

mat-card {
  background-color: #00838F;
  color: white;
  text-align: center;
  margin: auto;
  font-weight: 200;
  width: 80%;
}

mat-card h4 {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.card-body {
  max-height: 70vh;
  overflow: scroll;
}

.card-body::-webkit-scrollbar {
  width: 0 !important;
}

@media only screen and (max-width: 600px) {

  .card-title {
    font-size: 16px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {

  .card-title {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  .card-title {
    font-size: 12px;
  }

  #main_cards_column {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .col-md-12 {
    padding: 0;
  }
}
