.card-header {
  background-color: #0097A7;
}

#user_profile_header {
  text-align: center;
  font-weight: 100;
}

.card-title {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 16px;
  text-transform: uppercase;
}

#navigate_button {
  width: 15px;
  height: 15px;
}

#card_body {
  background-color: #006064;
}

mat-spinner {
  margin: auto;
}
