.fa-cloud,
.fa-thermometer-quarter {
  color: whitesmoke;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 3vw;
}

* {
  color: white;
}

#sub_column {
  margin: auto;
}

table {
  text-align: center;
}

th {
  padding: 1.5vw;
}
