<div class="row">
  <div class="col-md-12">
    <p *ngIf="isLoading">Fetching weather data. Please wait.</p>
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-4">
        <i class="fa fa-cloud fa-5x"></i>
      </div>
      <div class="col-md-8">
        <h3>Weather</h3>
        {{forecast.description | titlecase}}
        <hr width="30%">
      </div>
    </div>
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-4">
        <i class="fa fa-thermometer-quarter fa-5x"></i>
      </div>
      <div class="col-md-8">
        <h4>Temperature: {{forecast.curr_temp - 273.15 | number : '1.2-2'}}</h4>
        <h6>Min: {{forecast.min_temp - 273.15 | number : '1.2-2'}} - Max:
          {{forecast.max_temp - 273.15 | number : '1.2-2'}}</h6>
        <h6>Feels Like {{forecast.feels_like - 273.15 | number : '1.2-2'}}</h6>
        <hr width="30%">
      </div>
    </div>
    <div class="row" *ngIf="!isLoading">
      <div class="col-md-12" id="sub_column">
        <div class="table-responsive">
          <table class="table-hover">
            <thead>
              <tr>
                <th>Pressure(in mb)</th>
                <th>Humidity(%)</th>
                <th>Visibility(in m)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{forecast.pressure}}</td>
                <td>{{forecast.humidity}}</td>
                <td>{{forecast.visibility}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <p class="text-center">Wind Speed (m/s) : {{forecast.wind}}</p>
        <p class="text-center">Place: {{forecast.place}}</p>
      </div>
    </div>
  </div>
</div>
