<div class="row" style="margin: 0; padding: 0;">
  <div class="col-md-8 col-md-offset-2 mx-auto">
    <div class="card" style="margin: 0; padding:0;">
      <div class="card-header">
        <button mat-mini-fab id="closeBtn" (click)="closeSubComponent()"></button>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item" id="list-group-sub-item" *ngFor="let reply of replies">
            <div class="media p-3">
              <img *ngIf="!reply.imagePath" src="https://www.w3schools.com/bootstrap4/img_avatar3.png" alt="John Doe"
                class="align-self-start mr-3 rounded-circle" style="width:30px;">
              <img *ngIf="reply.imagePath" [src]="reply.imagePath" alt="John Doe"
                class="align-self-start mr-3 rounded-circle" style="width:30px;">
              <div class="media-body border p-3 rounded">
                <h6 class="comment_title">{{reply.username}} <code class="title_date">{{reply.createdAt}}</code></h6>
                <mat-divider></mat-divider>
                <p class="mt-1" id="content">
                  {{reply.content}}
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <mat-form-field class="example-full-width">
            <textarea name="comment" id="comment" rows="2" matInput ngModel #Comment="ngModel"
              placeholder="Reply.."></textarea>
          </mat-form-field>
          <br>
          <button mat-mini-fab color="primary" type="submit" matTooltip="Click to submit the reply."></button>
        </form>
      </div>
    </div>
  </div>
</div>
