<mat-spinner *ngIf="isLoading"></mat-spinner>
<!-- <mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading; else noPostsBlock">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
      <mat-panel-description>
        Content Below
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img [src]="post.imagePath" alt="post.title" width="100%" height="250px" class="img-responsive">
    <br><br>

    <p class="mt-5">
      {{post.content}}
    </p>

   
    <mat-action-row [ngClass]="{view: !loggedIn}" *ngIf="post.creator_id == userId">
      <button mat-button color="accent" (click)="onEditCheck(post.id, post.creator_id)">Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion> -->

<div class="row" *ngIf="posts.length > 0 && !isLoading; else noPostsBlock">
  <div class="col-md-12 mx-auto">
    <div class="card-columns">
      <div *ngFor="let post of posts">
        <div class="card" style="width:400px">
          <img class="card-img-top" [src]="post.imagePath" alt="post.title" width="100%" height="250px"
            class="img-responsive">
          <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <p class="card-text">{{post.content}}</p>
            <hr>
            <mat-action-row>
              <button mat-button color="accent" (click)="onEditCheck(post.id, post.creator_id)"
                [ngClass]="{view: !loggedIn}" *ngIf="post.creator_id == userId">Edit</button>
              <button mat-button color="warn" (click)="onDelete(post.id)" [ngClass]="{view: !loggedIn}"
                *ngIf="post.creator_id == userId">Delete</button>
              <button mat-button color="accent" (click)="onViewPost(post.id)">View</button>
            </mat-action-row>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noPostsBlock>
  <p class="noPostMessage mat-body-1">No posts have been added.</p>
</ng-template>

<div id="paginator">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin:auto;">
      <mat-paginator [length]="totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="postSize"
        (page)="pageUpdateFunc($event)">
      </mat-paginator>
    </div>
  </div>
</div>
