<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0; else noPostsBlock">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
      <mat-panel-description>
        Content Below
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{post.content}}
    <img [src]="post.imagePath" alt="post.title" width="100px" height="100px" class="img-responsive float-right">
    <div style="clear: both;"></div>
    <mat-action-row>
      <button mat-button color="accent" [routerLink]="['/edit',post.id]">Edit</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noPostsBlock>
  <p class="noPostMessage mat-body-1">No posts have been added.</p>
</ng-template>
