mat-expansion-panel {
  width: 50%;
  margin: 0 auto;
}

.noPostMessage {
  text-align: center;
}

mat-accordion {
  margin: 1rem auto;
}

mat-spinner {
  margin: auto;
}

.view {
  display: none;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card {
  float: left;
  margin: 10px;
}
