mat-expansion-panel {
  width: 50%;
  margin: 0 auto;
}

.noPostMessage {
  text-align: center;
}

mat-accordion {
  margin: 1rem auto;
}

mat-spinner {
  margin: auto;
}

.view {
  display: none;
}

.card-columns {
  float: left;
}

.card-title,
.card-text {
  text-align: center;
}
