<div class="row" style="margin: 0; padding: 0;margin-top: 10px;">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">

      </div>
      <div class="card-body">
        <h4 id="user_profile_header">Upload Image.</h4>
        <div class="row" style="margin: 0; padding: 0; margin-top:30px;">
          <div class="col-md-12">
            <mat-card class="border border-info">
              <form (submit)="onSubmit()" #f="ngForm">
                <div>
                  <button mat-raised-button color="primary" type="button" (click)="filePicker.click()">Upload</button>
                  <input type="file" name="image" (change)="imageUpload($event)" #filePicker>
                </div>
                <br>
                <div *ngIf="imagePreview">
                  <img [src]="imagePreview" alt="Image" width="180px" height="180px" class="img-fluid img-thumbnail">
                </div>
                <br>
                <button mat-raised-button color="primary" type="submit">Update</button>
              </form>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
