.card-header {
  background-color: #0097A7;
}

#user_profile_header {
  text-align: center;
  font-weight: 100;
}

mat-card {
  width: 500px;
  margin: auto;
}

input[type="file"] {
  display: none;
}

form {
  margin: auto;
  text-align: center;
}

button[type="submit"] {
  margin: auto;
}

mat-form-field {
  text-align: center;
}

@media only screen and (max-width: 600px) {

  mat-card {
    max-width: 60vw;
  }

  .card-body {
    margin: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {

  mat-card {
    max-width: 60vw;
  }

  .card-body {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  mat-card {
    max-width: 40vw;
  }

  .card-body {
    margin: auto;
  }
}
