#card_main_body,
#main_card {
  background: transparent;
  border: none;
}

#form_note {
  margin-top: 50px;
}

#form_header {
  background-color: transparent;
  border-bottom: none;
}

.flexer {
  flex: 1 1 auto;
  display: none;
}

#note_card_header {
  height: 10px;
}
