<div class="card" id="main_card">
  <div class="row" style="margin:0; padding:0;">
    <div class="col-md-4 col-xs-12 col-sm-12">
      <div class="card-header mt-2 p-4" id="form_header">
        <form class="example-form form-inline" (ngSubmit)="onSubmit()" #f="ngForm" id="form_note">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter the title" name="title" id="title" ngModel #Title="ngModel" required
              minlength="4">
          </mat-form-field>
          <mat-error *ngIf="Title.invalid && Title.touched">
            Please enter a valid title. The title should be of minimum 4 characters.
          </mat-error>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Add the description" name="description" id="description" ngModel
              #Descrip="ngModel" required></textarea>
          </mat-form-field>
          <mat-error *ngIf="Descrip.invalid && Descrip.touched">
            Please enter a valid description.
          </mat-error>
          <mat-form-field id="select_option">
            <mat-label>Color</mat-label>
            <mat-select matInput id="noteColor" name="noteColor" ngModel #NoteColor="ngModel" required>
              <mat-option *ngFor="let color of colors" [value]="color.value">
                {{color.key}}
                <div class="flexer"></div>
                <button mat-mini-fab style="width:10px; height:10px; float: right;margin-right: 5px;margin-top:10px;"
                  type="button" appColorFill [setColor]="color.value"></button>
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="NoteColor.invalid && NoteColor.touched">
            Please select any one color.
          </mat-error>
          <button mat-stroked-button color="primary" type="submit" class="mx-auto">Add Note</button>
        </form>
      </div>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12" id="main_idea_note_column">
      <div class="card-body" id="card_main_body">
        <div class="row" style="margin:0; padding:0;">
          <div class="col-md-12 col-xs-12 col-sm-12 justify-content-center" id="note_list_column">
            <div class="card" *ngFor="let note of notes" appColorBorder
              [borderColor]="note.color" id="idea_card">
              <div class="card-header" id="note_card_header" appColorFill [setColor]="note.color">
                <button type="button" mat-mini-fab id="delete_noteBtn" (click)="deleteNote(note.id)"
                  matTooltip="Delete Note."></button>
              </div>
              <div class="card-body" id="note_card_description">
                <h3 id="note_title">{{note.title}}</h3>
                <p id="note_Description">{{note.description}}
                  <br>
                  <code id="date">{{note.createdAt}}</code>
                </p>
              </div>
            </div>
            <mat-card *ngIf="notes.length == 0" id="emptyCard">
              <h4 id='emptyHeading'>Empty!</h4>
              <p id="emptyPara">You have not created any notes yet.
                <br>
                Use the form on the left side to add your first note.
              </p>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
